@model CosmosMusic.Models.Albums

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/Validation.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Albums</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.album_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.album_id)
            @Html.ValidationMessageFor(model => model.album_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.add_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.add_date)
            @Html.ValidationMessageFor(model => model.add_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rating)
            @Html.ValidationMessageFor(model => model.rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cover)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cover)
            @Html.ValidationMessageFor(model => model.cover)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_id, "Users")
        </div>
        <div class="editor-field">
            @Html.DropDownList("user_id", String.Empty)
            @Html.ValidationMessageFor(model => model.user_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

s
