@model IEnumerable<CosmosMusic.Models.Albums>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p style="margin-left: 8px;">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table style="width: 95%; margin: 0 auto;" class="table table-bordered table-striped crud-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.album_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.add_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.album_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.add_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.album_id.ToString() /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {id = item.album_id.ToString() /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {id = item.album_id.ToString() /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
